<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {{{ userHeadTags }}}
    {{{ pageMeta }}}
    {{{ renderResourceHints() }}}
    {{{ renderStyles() }}}
    <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Exo+2:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/solarized-light.min.css">
  </head>
  <body class="bg font-sans text-lg md:text-2xl overflow-x-hidden border-t-8 border-teal" v-on:scroll.passive="handleScroll">
    <!--vue-ssr-outlet-->
    {{{ renderScripts() }}}
  </body>
</html>
